body {
  padding: 0;
  margin: 0;
  background-color: #2f74c8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
}

img {
  width: 200px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.clock {
  width: 500px;
  height: 500px;
  background-color: #cbcbcb;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
}

.numbers div {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #163964;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.clock .numbers .twelve {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.clock .numbers .three {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.clock .numbers .six {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.clock .numbers .nine {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.arrows::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgb(18, 8, 49);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.arrows div {
  background-color: #163964;
  width: 10px;
  height: 170px;
  position: absolute;
  transform-origin: bottom center;
  bottom: 50%;
  z-index: 3;
  border-radius: 50% 50% 0 0;
}

.arrows .hour {
  height: 140px;
}

.arrows .second {
  background-color: rgb(83, 51, 11);
}
